<a href="https://colab.research.google.com/github/LavanyaRagavi/LavanyaRagavi/blob/main/Rev_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1
b = 2
c = a + b
print (c)

3

In [ ]:
a = '1'
b = '3'
c = a + b
print (c)

13

In [ ]:
a = [1,2,3,4]
a[1] = 5
a

[1, 5, 3, 4]

In [ ]:
a = [2,56,26,45,69,23,6,9,23,86]
a[2:6]

[26, 45, 69, 23]

In [ ]:
a[:6]

[2, 56, 26, 45, 69, 23]

In [ ]:
a[2:]

[26, 45, 69, 23, 6, 9, 23, 86]

In [ ]:
len(a)

10

In [ ]:
a = {1:'Apple', 2:'Banana',3:'Carrot',4:'Dragon fruit'}

In [ ]:
a = {1:'Grapes', 2:'Banana',3:'Carrot',4:'Dragon fruit'}
a

{1: 'Grapes', 2: 'Banana', 3: 'Carrot', 4: 'Dragon fruit'}

In [ ]:
a = {1:'Grapes', 2:'Banana',1:'Carrot',4:'Grapes'}
a

{1: 'Carrot', 2: 'Banana', 4: 'Grapes'}

In [ ]:
c = (1,2,3,4,5,6,8,7)
c[2]

3

a = 1,
b = 1,
if b == a:
  print("Both are same")

In [ ]:
marks = int(input())
if marks >=40:
  print("Student is Passed")
else:
    print("Student is Failed")

25
Student is Failed

In [ ]:
marks = int(input())
if marks >=60:
  print("Student is first class")
elif marks >= 40:
    print("Student is Passed")
else:
  print("Student is Failed")

100
Student is first class

In [ ]:
for a in range(7):
  print ('Lavanya Praveen Kumar')

Lavanya Praveen Kumar
Lavanya Praveen Kumar
Lavanya Praveen Kumar
Lavanya Praveen Kumar
Lavanya Praveen Kumar
Lavanya Praveen Kumar
Lavanya Praveen Kumar

In [ ]:
a = [2,56,26,45,69,23,6,9,23,86]
for l in a:
  print(l)

2
56
26
45
69
23
6
9
23
86

In [ ]:
k = 0
while k<6:
  print("Hai")
  k = k + 1

Hai
Hai
Hai
Hai
Hai
Hai

In [ ]:
Color = 7
while Color <= 7:
  Color = 7 + 1
  print('VIBGYOR')

VIBGYOR

In [ ]:
a = [2,56,26,45,69,23,6,9,23,86]
a.append(45)
a

[2, 56, 26, 45, 69, 23, 6, 9, 23, 86, 45]

In [ ]:
g = []
for l in range (6):
  g.append(l)
g

[0, 1, 2, 3, 4, 5]

In [ ]:
def x(a,b):
  c = a-b
  print(c)
x(45,68)

-23

In [ ]:
def x(a, b):
  c = a+b
  print(c)
x(b=56,a=49)

105

In [ ]:
fp = open("/content/New Text Document.txt", 'r') # read a file
print(fp.read())
fp.close()

Hai

In [ ]:
File = open(r"/content/New Text Document.txt", 'w') # write in a file
File.write("Hai Lavanya")
File.close()

In [ ]:
File = open(r"/content/New Text Document.txt", 'a') # append to a file
File.write("How are You")
File.close()

In [ ]:
File = open(r"/content/New Text Document.txt", 'w') # append to a file
File.write("Hai Lavanya, How are You?")
File.close()

In [ ]:
x = lambda a,b: a%b
print(x(6,8))

6

In [ ]:
pairs = [(1,'one'), (2, 'two'), (3,'three')]
pairs.sort(key = lambda x:x[1])
print(pairs)

[(1, 'one'), (3, 'three'), (2, 'two')]

In [ ]:
nos = [1,2,3,4,5,6,7,8,9,10]
even = list(filter(lambda x:x % 2 ==0, nos))
odd = list(filter(lambda x:x%2 !=0,nos))
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
pairs = [(1,'one'), (2, 'two'), (3,'three'), (6,'six')]
max_value = max(pairs, key = lambda x:x[0])
print(max_value)

(6, 'six')

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
no = [1,5,6,9,86]
sq_no = list(map(lambda x:x**2,no))
print(sq_no)

[1, 25, 36, 81, 7396]

In [ ]:
a = ['lavanya', 'praveen']
a

['lavanya', 'praveen']

In [ ]:
list_1 = map(str.upper,a)
list(list_1)

['LAVANYA', 'PRAVEEN']

In [ ]:
def count(x):
  return len(list(x))
list_2 = map(count,a)
len('lavanya')

7

In [ ]:
list(list_2)

[7, 7]

In [ ]:
a = ['lavanya', 'praveen', 'fight']
def remove(x):
  return 'a' in x
  list_2 = filter(remove,a)
list(list_2)

[]

In [ ]:
numbers = [1, 2, 3, 4, 5]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))  # Output: [2, 4]

[2, 4]

In [ ]:
nos = [56,85,96,42,36]
even = list(filter(lambda x: x % 2 == 0,nos))
print(even)

[56, 96, 42, 36]

In [ ]:
nos = [56,85,96,42,36]
from functools import reduce
list_3 = reduce(lambda x,y: x*y, nos)
list_3

690923520

In [ ]:
class Car():
    def _init_(self, brand, model):
        self.brand = brand
        self.model = model

    def display_info(self):
        print("Car: {self.brand} {self.model}")
my_car = input()


# Accessing attributes and calling methods
print(my_car.brand)  # Output: Toyota
print(my_car.model)  # Output: Corolla
my_car.display_info()  # Output: Car: Toyota Corolla

In [ ]:
class person:
  def __init(self,name,study,work):
    self.name = name
    self.study = study
    self.work = work

  def show(self):
    print(self.name)
    print(self.study)
  def work1(self):
    print(self.work)

In [ ]:
import pickle
a = [2,56,26,45,69,23,6,9,23,86]
with open('picklefile.pickle', 'wb') as fp:
  pickle.dump(a,fp)

In [ ]:
with open('picklefile.pickle', 'rb') as fp:
  read = pickle.load(fp)
  print(read)

[2, 56, 26, 45, 69, 23, 6, 9, 23, 86]

In [ ]:
list_1 = []
for i in range(10):
  a = int(input("Enter a No:"))
  list_1.append(a)

Enter a No:0
Enter a No:0
Enter a No:0
Enter a No:1
Enter a No:1
Enter a No:1
Enter a No:0
Enter a No:0
Enter a No:1
Enter a No:0

In [ ]:
list_1
count_0 = 0
for i in list_1:
  if i ==0:
    count_0 = count_0 + 1
if count_0 % 2 == 0:
  print('Even')
else:
    print ("Odd")

Even

In [ ]:
a = [2,56,26,45,69,23,6,9,23,86]
a.sort()
print(a)

[2, 6, 9, 23, 23, 26, 45, 56, 69, 86]

In [ ]:
a = [2,56,26,45,69,23,6,9,23,86]
a.sort(reverse=True)
print(a)

[86, 69, 56, 45, 26, 23, 23, 9, 6, 2]

In [ ]:
import pandas as pd
my_list = [55,66,88,99] # data Structure- Series
l = pd.Series(my_list)
l

0    55
1    66
2    88
3    99
dtype: int64

In [ ]:
import pandas as pl
df = pl.read_csv("/content/titanic_dataset.csv")
df.head() # to show 1st 5 rows
df.head(6)
df.tail()
df.tail(6)
df.describe() # Gives numerical values info
df.info(12) # gives information about particular row

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.isnull().sum() #to find null values in data set

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
num = df['Age'].mean()
num

29.69911764705882

In [ ]:
num = df['Sex'].mode()
num

0    male
Name: Sex, dtype: object

In [ ]:
num = df['Age'].mean()
num

29.69911764705882

In [ ]:
df['Age'] = df['Age'].fillna(num)
df['Age']

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

In [ ]:
df_1 = df.dropna()
df_1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [ ]:
df['Pclass']

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

In [ ]:
df[['Age', 'Survived', 'Sex']]

           Age  Survived     Sex
0    22.000000         0    male
1    38.000000         1  female
2    26.000000         1  female
3    35.000000         1  female
4    35.000000         0    male
..         ...       ...     ...
886  27.000000         0    male
887  19.000000         1  female
888  29.699118         0  female
889  26.000000         1    male
890  32.000000         0    male

[891 rows x 3 columns]

In [ ]:
df.to_csv("anothertitanic.csv")

In [ ]:
df[df.index == 456]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
456,457,0,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.55,E38,S

In [ ]:
df[df.index.isin(range(3,9))]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,29.699118,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,NaN,S

In [ ]:
df.loc[6]

PassengerId                          7
Survived                             0
Pclass                               1
Name           McCarthy, Mr. Timothy J
Sex                               male
Age                               54.0
SibSp                                0
Parch                                0
Ticket                           17463
Fare                           51.8625
Cabin                              E46
Embarked                             S
Name: 6, dtype: object

In [ ]:
df.loc[10:15]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S

In [ ]:
df.loc[[10,25,33,45]]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,G6,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.000000,1,5,347077,31.3875,NaN,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.000000,0,0,C.A. 24579,10.5000,NaN,S
45,46,0,3,"Rogers, Mr. William John",male,29.699118,0,0,S.C./A.4. 23567,8.0500,NaN,S

In [ ]:
df.iloc[10:15]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S

In [ ]:
df.loc[10:13,["Age", 'Sex']]

     Age     Sex
10   4.0  female
11  58.0  female
12  20.0    male
13  39.0    male

In [ ]:
df.query('(Sex =="female") and (Age>40)')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1,0,A/5. 3337,14.5000,NaN,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9000,NaN,S
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0,0,0,PC 17610,27.7208,B4,C
195,196,1,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.2125,NaN,S
259,260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50.0,0,1,230433,26.0000,NaN,S
268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0,0,1,PC 17582,153.4625,C125,S
272,273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41.0,0,1,250644,19.5000,NaN,S
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.0,0,0,347073,7.7500,NaN,S
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C
337,338,1,1,"Burns, Miss. Elizabeth Margaret",female,41.0,0,0,16966,134.5000,E40,C
362,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C
366,367,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0,1,0,110813,75.2500,D37,C
380,381,1,1,"Bidois, Miss. Rosalie",female,42.0,0,0,PC 17757,227.5250,NaN,C
432,433,1,2,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",female,42.0,1,0,SC/AH 3085,26.0000,NaN,S
440,441,1,2,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",female,45.0,1,1,F.C.C. 13529,26.2500,NaN,S
458,459,1,2,"Toomey, Miss. Ellen",female,50.0,0,0,F.C.C. 13531,10.5000,NaN,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
496,497,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.2667,D20,C
513,514,1,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",female,54.0,1,0,PC 17603,59.4000,NaN,C
523,524,1,1,"Hippach, Mrs. Louis Albert (Ida Sophia Fischer)",female,44.0,0,1,111361,57.9792,B18,C
526,527,1,2,"Ridsdale, Miss. Lucy",female,50.0,0,0,W./C. 14258,10.5000,NaN,S
556,557,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.0,1,0,11755,39.6000,A16,C
571,572,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S
591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.0,1,0,36947,78.2667,D20,C
638,639,0,3,"Panula, Mrs. Juha (Maria Emilia Ojala)",female,41.0,0,5,3101295,39.6875,NaN,S
678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43.0,1,6,CA 2144,46.9000,NaN,S
706,707,1,2,"Kelly, Mrs. Florence ""Fannie""",female,45.0,0,0,223596,13.5000,NaN,S
736,737,0,3,"Ford, Mrs. Edward (Margaret Ann Watson)",female,48.0,1,3,W./C. 6608,34.3750,NaN,S
754,755,1,2,"Herman, Mrs. Samuel (Jane Laver)",female,48.0,1,2,220845,65.0000,NaN,S
765,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
772,773,0,2,"Mack, Mrs. (Mary)",female,57.0,0,0,S.O./P.P. 3,10.5000,E77,S
774,775,1,2,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0,1,3,29105,23.0000,NaN,S
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0,0,1,24160,211.3375,B3,S
796,797,1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

In [ ]:
g = pd.DataFrame([['tomato',100], ['potato',50], ['onion',30]], columns = ['veggie', 'rate']) # to get output of some data into framed structure

   veggie  rate
0  tomato   100
1  potato    50
2   onion    30